<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>fssai image</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>QC ONDC</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">fssai check</a></li>
        </ul>
    </nav>
    {% for i in wrong_words %}
        <ul>
            <li>
                <strong>Record: {{ i }}</strong>
            </li>
        </ul>
    {% endfor %}
    <!-- {% for record, fields in wrong_words.items %}
        <div>
            <h2>Record {{ record }}</h2>
            <ul>
                {% for field, words in fields.items %}
                    <li>
                        <strong>picture in doubt</strong>:
                        {% for word in words %}
                            <img src="{{ word }}">
                            <input type="checkbox" value="Done">
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %} -->
</body>
</html>