<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>fssai image</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <header class="bg-dark text-light py-3">
        <div class="container">
            <h1 class="mb-0">QC ONDC</h1>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">fssai Check</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        {% for i in wrong_words %}
            <ul class="list-group mb-4">
                <li class="list-group-item">
                    <strong>Record: {{ i }}</strong>
                </li>
            </ul>
        {% endfor %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-VoPFvGr5U+kXs5kHH3gL+QvJ1fzPs/OhX0FKEK8hUeKaAOC2vhpPfVwOiGOu7vu3" crossorigin="anonymous"></script>
</body>
</html>
