<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        var interval;
         function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function display(){
            const csrftoken = getCookie('csrftoken');
            $.ajax({
                url: '{% url "progress" %}',
                method: 'post',
                headers: {
                    'X-CSRFToken': csrftoken  
                },
                success: function(response) {
                    if (response.hasOwnProperty('progress')) {
                        $('h1').text(`Task is still processing ${response.progress}%`);
                        if(response.progress==100){
                            clearInterval(interval)
                            window.location.href='../display_image'
                        }
                    }
                    
                    else {
                        console.error('Invalid response received:', response);
                    }
                },

            });
        }
        
        $(document).ready(function() {
            interval = setInterval(display, 3000);
            display(); 
        });
    </script>
</head>
<body>
    <h1>Task is still processing 0%</h1>
</body>
</html>