<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Quality Check</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>QC ONDC</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Length of the Product Name Check</a></li>
        </ul>
    </nav>
    {% for record, fields in wrong_words.items %}
        <div>
            <h2>Record {{ record }}</h2>
            <ul>
                {% for field, words in fields.items %}
                    <li>
                        <strong>{{ field }}</strong>:
                        {% for word in words %}
                            {{ word }}
                            <input type="checkbox" value="Done">
                            Len: {{ word|length }}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <form action="{% url 'image_quality' %}" method="post">
        {% csrf_token %}
        <button type="submit">Next Step(image quality check)</button>
    </form>
</body>
</html>
