<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quality Check</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <header class="bg-dark text-light py-3">
        <div class="container">
            <h1 class="mb-0">QC ONDC</h1>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if to_do == "upl" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'upload' type='sample' %}">Upload Excel</a>
                    </li>
                    {% endif %}
                    {% if value == "upload success" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'spellcheck' word='Check' %}">Start QC</a>
                    </li>
                    {% endif %}
                    {% if value == 'spellcheck' %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Masterfile spell check</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <form action="{% url 'spellL' word='check' %}" method="post" class="top-right-button">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Next Step (Long Description Spell Check)</button>
    </form>
    <div class="container mt-4">
        {% if value == "home" %}
            <h1 class="text-center">Please upload a file to start processing</h1>
        {% elif value == "upload" %}
            {% if file == 'master' %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Note:</h4>
                <p>Do not interchange and upload the files.</p>
            </div>
            <h1 class="mb-4">Masterfile:</h1>
            <form action="{% url 'upload' type='raw' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="packaged" class="form-label">Packaged Food Item:</label>
                    <select class="form-select" id="packaged" name="packaged">
                        <option value="1">Packaged food item</option>
                        <option value="0">Not a Packaged Food item</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="excel_file" class="form-label">Choose Excel File:</label>
                    <input class="form-control" type="file" id="excel_file" name="excel_file" accept=".xlsx, .xls">
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            {% else %}
            <h1 class="mb-4">Long Description:</h1>
            <form action="{% url 'upload' type='long' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="excel_file" class="form-label">Choose Excel File:</label>
                    <input class="form-control" type="file" id="excel_file" name="excel_file" accept=".xlsx, .xls">
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            {% endif %}
        {% elif value == "upload success" %}
            <h1 class="text-center">Select "Start QC" to begin the procedure</h1>
        {% elif value == "spellcheck" %}
            {% for record, fields in wrong_words.items %}
                <div class="mb-4">
                    <h2>Record {{ record }}</h2>
                    <ul class="list-group">
                        {% for field, words in fields.items %}
                        <li class="list-group-item">
                            <strong>{{ field }}</strong>:
                            <br>
                            {% for word in words %}
                            <div class="word-item">
                                {{ word }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <form action="{% url 'spellcheck' word=word %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-success">Add</button>
                                </form>
                                <input type="checkbox" value="Done" class="ms-2">
                            </div>
                            <br>
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <form action="{% url 'spellL' word='check' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Next Step (Long Description Spell Check)</button>
            </form>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-VoPFvGr5U+kXs5kHH3gL+QvJ1fzPs/OhX0FKEK8hUeKaAOC2vhpPfVwOiGOu7vu3" crossorigin="anonymous"></script>
</body>
</html>
